# CMake build folders and files
build/
CMakeFiles/
Makefile
CMakeCache.txt
cmake_install.cmake

# Object files and binaries
*.o
*.out
*.exe
*.a
*.so
*.dylib
convex_hull
convex_hull_demo

# OS-specific files
.DS_Store
